<%= form_for(@recipe) do | formulario | %>
    
        <p>
          <%= formulario.label :Nome %></br>
          <%= formulario.text_field :name %>
        </p>
        <p>
          <%= formulario.label :Ingredientes %></br>
          <%= formulario.text_area :stuff, cols: 20, rows: 5 %>
        </p>
        <p>
          <%= formulario.label :Tipo %></br>
          <%= formulario.text_field :kind %>
        </p>
        <p>
          <%= formulario.label :Calorias %></br>
          <%= formulario.number_field :calories %>
        </p>
        <p>
          <%= formulario.label :Modo_de_Preparo %></br>
          <%= formulario.text_area :prepare_mode, cols: 20, rows: 5 %>
        </p>
        <p>
          <%= formulario.label :Tempo_de_Preparo %></br>
          <%= formulario.time_select :duration %>
        </p>
        <p>
          <%= formulario.label :Porções %></br>
          <%= formulario.text_field :portion %>
        </p>
        <p>
          <%= formulario.label :Custos %></br>
          <%= formulario.number_field :cost %>
        </p>
        <p>
          <%= formulario.label :Poster %></br>
          <%= formulario.text_field :poster, placeholder: ".GIF, .JPEG, .JPG ou .PNG" %>
        </p>
        <p>
          <%= formulario.submit %>
          <%= link_to 'Cancelar', root_path %>
        </p>
       <% end %> 