<%= form_for(@recipe) do | formulario | %>
    
        <p>
          <%= formulario.label :Nome %></br>
          <%= formulario.text_field :name %>
        </p>
        <p>
          <%= formulario.label :Ingredientes %></br>
          <%= formulario.text_area :stuff, cols: 20, rows: 5 %>
        </p>
        <p>
          <%= formulario.label :Calorias %></br>
          <%= formulario.number_field :calories %>
        </p>
        <p>
          <%= formulario.label :Modo_de_Preparo %></br>
          <%= formulario.text_area :prepare_mode, cols: 20, rows: 5 %>
        </p>
        <p>
          <%= formulario.label :Custos %></br>
          <%= formulario.number_field :cost %>
        </p>
        <p>
          <%= formulario.submit %>
          <%= link_to 'Cancelar', root_path %>
        </p>
       <% end %> 