
<div class="container">

    <div class="row">
        <div class="clo-lg-12">
           <h1 class="page-header"><%= pluralize(@recipes.size, "Receita", "Receitas") %>
           <small class="nova_receita"><%= link_to 'Nova Receita', new_recipe_path %></small>
           </h1>
       </div> 
   </div>  
   

 <% @recipes.each do |item| %>
 <div class="row">
     <div class="col-md-2"> 
     <%= link_to imagem(item), item %>
     </div>
     <div class="col-md-7">
         <h3><%= link_to item.name, item %></h3>
         <p><%= truncate(item.stuff, lenght:15, separator: ' ') %></p>
         <h4>Calorias:</h4>
         <p><%= formata_caloria(item) %></p>
         <h4>Modo de Preparo:</h4>
         <p><%= item.duration.to_formatted_s(:time) %></p>
         <h4>Custo:</h4>
         <p><%= item.cost %></p>

     </div>
  </div>
  <hr>

  <% end %>
  