<h1><%= pluralize(@recipes.size, "Receita", "Receitas") %></h1>

 <% @recipes.each do |item| %>
   <article>
    <header> 
     <h2><%= link_to item.name, item %></h2>
     <%= imagem(item) %>
    </header>
    <p> 
     <%= truncate(item.stuff, lenght:15, separator: ' ') %>
    </p>
    <p> 
       <%= formata_caloria(item) %>
    </p>
    <p> 
       <%= item.duration.to_formatted_s(:time) %> min
    </p>
    <table>
     <tr>
      <th>Modo de Preparo:</th>
       <td><%= item.prepare_mode %></td>
      </tr>
      <th>Custo de Prato:</th>
      <td><%= number_to_currency(item.cost) %></td> 
      </tr>
     </table>
    </article>  
  <%end %> 
  </br> 
  
  <%= link_to 'Nova Receita', new_recipe_path %>